.modal {
  position: fixed;
  top: -50px;
  opacity: 0;
  left: -150px;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  background: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
  &.active {
    width: 100vw;
    opacity: 1;
    height: 100vh;
  }
  &__container {
    transition: none;
    background: white;
    width: 60vw;
    min-height: 100vh;
    position: relative;
  }
  &__header {
    input[type=text] {
      margin: 0 20px;
    }
  }
  &__post-img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    opacity: 1;
    transition: .3s;
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
  &__content {
    padding: 0 20px;
    .RichTextEditor__root___2QXK- {
      border: none;
      .EditorToolbar__root___3_Aqz {
        position: absolute;
        top: 300px;
        left: 20px;
        transition: .4s;
        border-bottom: none;
        opacity: 1;
      }
      .RichTextEditor__editor___1QqIU {
        height: 37vh;
      }
    }
    &--title-focus {
      .EditorToolbar__root___3_Aqz {
        left: 40px !important;
        opacity: 0 !important;
        visibility: hidden;
      }
    }
  }
  &__footer {
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    button {
      height: 40px;
    }
  }
  input {
    border: none;
    box-shadow: none;
    width: 95%;
    font-size: 26px;
    padding: 10px 10px;
    color: $anotherBlue;
    outline: none;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $anotherBlue;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $anotherBlue;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $anotherBlue;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $anotherBlue;
    }
  }
}

.close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: scale(1);
  transition: .3s;
  z-index: 9999;
  &:hover {
    transform: scale(1.2)
  }
  &:before,
  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 30px;
    background: white;
    position: absolute;
    top: 0;
    right: 15px;
  }
  &:before {
    transform: rotate(45deg)
  }
  &:after {
    transform: rotate(-45deg)
  }
}