.restaurant_profile {
  width: calc(100vw - 330px);
  padding-top: 150px;
  margin: 0 50px 50px 100px;
  background: url('https://lorempixel.com/1024/600/abstract/?11856') top center / cover;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  flex-direction: column;
  &__h1 {
    margin: 40px 100px;
    padding-top: 50px;
  }
  textarea[name=description] {
    resize: none;
  }
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background: white;
    box-shadow: 1px -1px 34px -1px rgba(0, 0, 0, 0.7);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  &__img {
    &:hover {
      cursor: pointer;
      opacity: .3;
      transition: .5s;
      &~h1 {
        transition: .7s ease-in-out;
        &::before {
          top: -128px;
          opacity: 1;
          transition: .7s ease-in-out;
          left: 51%;
        }
      }
    }
    transition: .7s ease-in-out;
    width: 160px;
    height: 160px;
    margin-top: calc((160px / 2) * -1);
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid $blue;
  }
  &__name {
    font-size: 36px;
    transition: .7s ease-in-out;
    position: relative;
    
    &::before {
      content: '\f044';
      display: block;
      opacity: 0;
      transition: .7s ease-in-out;
      position: absolute;
      top: -128px;
      left: 75%;
      transform: translate(-60%, 0);
      font-family: outline-icons;
      font-size: 36px;
      z-index: 1000;
      font-weight: 100;
      color: rgba(0, 0, 0, .6);
      pointer-events: none;
    }
  }
  &__profile {
    display: flex;
    flex: 3;
    .ui.card {
      width: 98%;
    }
  }
  &__column {
    flex: 2;
    display: flex;
    flex-direction: column;
    .ui.card {
      flex: 1;
      width: 98%;
      margin-left: 2%;
      .content:first-child {
        flex-grow: 0;
      }
      &:first-child {
        &>.content:last-child {
          overflow-y: scroll;
        }
      }
    }
  }
  &__tab {
    width: 100%;
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 50px;
    .button {
      margin: 0 auto;
      display: block;
    }
    .tabular {
      border-bottom: none !important;
    } // Reset Semantic UI
    .item {
      border: none !important;
      box-shadow: none !important;
      display: flex;
      flex-direction: column;
      &.active {
        border-bottom: 1px solid black;
      }
      i {
        margin-bottom: 10px !important;
      }
    }
    .tab {
      border: none !important;
      box-shadow: none !important;
      padding: 20px !important;
      border-bottom-left-radius: 50px !important;
      border-bottom-right-radius: 50px !important;
    }
  }
  .ui.form {
    .field {
      .ui.input {
        input {
          border: 1px solid #eee;
        }
        .ui.label {
          text-align: right;
          width: 160px;
          padding: 15px 0;
          background: transparent;
          margin-right: 30px;
        }
      }
    }
  }
}