#sidebar {
  display: flex;
  width: 200px;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  background-position: center;
  .item {
    height: 40px;
    display: flex;
    color: #666;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    justify-content: flex-start;
    transition: .5s;
    &:hover {
      color: $blue;
      background: white !important;
      i {
        color: $blue !important;
      }
    }
    &.active {
      color: $blue !important;
      background: white !important;
      i {
        color: $blue !important;
      }
    }
    i {
      transition: .5s;
      margin: 0 !important;
      font-size: 10px !important;
      margin-right: 25px !important;
      margin-left: 3px !important;
      color: #CCC;
    }
  }
}

.navbar {
  height: 50px;
  width: calc(100% - 200px);
  background: white;
  margin-left: 200px; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .ui.dropdown {
    padding: 10px 30px;
    border-bottom: 2px solid $blue;
    margin-right: 100px;
    [role=option] {
      font-size: 12px !important;
      background: white;
      font-weight: 100 !important;
      i:first-child {
        transition: .5s;
        font-size: 10px !important;
        color: #CCC;
      }
      &:hover, &.selected {
        background: white !important;
        color: $blue !important;
        i:first-child {
          color: $blue !important;
        }
      }
    }
  }
}