@import url('https://fonts.googleapis.com/css?family=Poppins');
$blue: #2d388a;
$anotherBlue: #7db9e8;
$blueGradient:  linear-gradient(to right, #2d388a 2%,#2d388a 5%,#2d388a 5%,#7db9e8 72%,#7db9e8 72%,#7db9e8 94%);
* {
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: #f8f8f8;
}

@import './assets/scss/app';
@import './assets/scss/loader';
@import './assets/scss/login_container';
@import './assets/scss/restaurant_container';
@import './assets/scss/restaurant_profile';
@import './assets/scss/sidebar';
@import './assets/scss/restaurant_posts';
@import './assets/scss/modal';
@import './assets/scss/restaurant_menu';
@import './assets/scss/restaurant_tables';
@import './assets/scss/restaurant_orders';
@import './assets/scss/restaurant_dashboard';
@import './assets/scss/feed';