@import url('https://fonts.googleapis.com/css?family=Cardo|Montserrat');
@import '../node_modules/semantic-ui-css/semantic.min.css';
* {
  font-family: 'Cardo', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
