
* {
  font-family:  sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

@import './assets/scss/app';
@import './assets/scss/loader';
@import './assets/scss/login_container';
@import './assets/scss/restaurant_container';
@import './assets/scss/restaurant_profile';
@import './assets/scss/sidebar';
